apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: webapp
          image: cp2registryjdap.azurecr.io/appk8s:casopractico2
          ports:
            - containerPort: 80
          volumeMounts:
            - mountPath: "/usr/share/nginx/html"
              name: html-volume
      volumes:
        - name: html-volume
          persistentVolumeClaim:
            claimName: html-pvc
